html,
body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
}

.Login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.Login-box {
    display: flex;
    flex-direction: column;
}

.btn-facebook {
    background-color: #4267b2 !important;
    color: white;
}

.btn-google {
    background-color: #ec2d30 !important;
    color: white;
}